/* TYPE */
.info {
    max-width: 400px;
    margin: 1.3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }

.p1 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .p2 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#808080;
  }
  
  .p3 {
        font-family: "Archivo", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
  }

/* NAV BAR */
nav {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: lowercase;
    padding: 2rem;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav li {
    display: flex;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: #ccc;
    padding: .5rem;
  }
  
  nav li:not(:last-child)::after {
    content: "|";
    color: #ccc;
  }

  ul li :hover{
    text-decoration: underline;
    padding: 0.5rem;
    color: #333;
}


/* CAROUSEL */
img {
    height: 419px;
    width: auto;
    object-fit: contain;
    padding: 1.2rem;
    }

.carousel-container {
    position: relative;
    width: 92.5%;
    padding-left: 1.3rem;
    padding-right: 50px; 
    background-color: #f8f8f8;
    overflow: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
}

.carousel-container::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
    /* ^make scrollbar transparent */
}

.carousel-item {
    scroll-snap-align: start;
    flex: auto;
    width: 100%;
    width: 80%;
    max-width: 600px;
    height: 300px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 1px;
}

.carousel-container img {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 80%;
    max-width: 600px;
    height: 419px;
    object-fit: contain;
    padding: 1.2rem;
  }

/* LOGO */
/* .overlay {
    scale: .4;
	position: absolute;
    float: left;
    margin: auto 5px;
    display: inline-flex;
    object-position: 50px 50px 50px 50px;
    right: 30;
    padding-right: .6rem;
} */

.page-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }
  
  .overlay {
    position: absolute;
    padding-top: 17.8rem;
    padding-left: 3.4rem;
    left: 20px;
    z-index: 1000;
    max-width: 200px;
    scale: 1.34;
  }
  
  .overlay img {
    width: 100%;
    height: auto;
    padding: 0;
  }

.overlay:hover{
    opacity: .55;
}

/* bruhhhhhhhhh */
/* .logo-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.logo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('path/to/your/sydney-williams.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s ease;
}

.logo-container:hover .logo-overlay {
    opacity: 0;
} */
